EnsureRisk/Web References/ServiceAuthentication/WebServiceAuthentication.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="AuthenticateUsers">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="usser" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="password" type="s:base64Binary" />
            <s:element minOccurs="0" maxOccurs="1" name="MensajeError" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_usuarioPC" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="_pcNombreIP" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Sesion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="AuthenticateUsersResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="AuthenticateUsersResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
            <s:element minOccurs="0" maxOccurs="1" name="MensajeError" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="Sesion" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="AuthenticateUsersSoapIn">
    <wsdl:part name="parameters" element="tns:AuthenticateUsers" />
  </wsdl:message>
  <wsdl:message name="AuthenticateUsersSoapOut">
    <wsdl:part name="parameters" element="tns:AuthenticateUsersResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceAuthenticationSoap">
    <wsdl:operation name="AuthenticateUsers">
      <wsdl:input message="tns:AuthenticateUsersSoapIn" />
      <wsdl:output message="tns:AuthenticateUsersSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceAuthenticationSoap" type="tns:WebServiceAuthenticationSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateUsers">
      <soap:operation soapAction="http://tempuri.org/AuthenticateUsers" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceAuthenticationSoap12" type="tns:WebServiceAuthenticationSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="AuthenticateUsers">
      <soap12:operation soapAction="http://tempuri.org/AuthenticateUsers" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceAuthentication">
    <wsdl:port name="WebServiceAuthenticationSoap" binding="tns:WebServiceAuthenticationSoap">
      <soap:address location="http://localhost/EnsureRiskWS/WebServiceAuthentication.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceAuthenticationSoap12" binding="tns:WebServiceAuthenticationSoap12">
      <soap12:address location="http://localhost/EnsureRiskWS/WebServiceAuthentication.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>