EnsureRisk/Web References/ServiceRiskController/WebServiceRisk.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetRiskTreeString">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="param" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetRiskTreeStringResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRiskTreeStringResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetDefaultRisk">
        <s:complexType />
      </s:element>
      <s:element name="GetDefaultRiskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetDefaultRiskResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveRisk">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveRiskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveRiskResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRiskTreeID">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="param" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetRiskTreeIDResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetRiskTreeIDResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetElementData">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="sp" type="s:string" />
            <s:element minOccurs="0" maxOccurs="1" name="tablename" type="s:string" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="GetElementDataResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetElementDataResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetRiskTreeStringSoapIn">
    <wsdl:part name="parameters" element="tns:GetRiskTreeString" />
  </wsdl:message>
  <wsdl:message name="GetRiskTreeStringSoapOut">
    <wsdl:part name="parameters" element="tns:GetRiskTreeStringResponse" />
  </wsdl:message>
  <wsdl:message name="GetDefaultRiskSoapIn">
    <wsdl:part name="parameters" element="tns:GetDefaultRisk" />
  </wsdl:message>
  <wsdl:message name="GetDefaultRiskSoapOut">
    <wsdl:part name="parameters" element="tns:GetDefaultRiskResponse" />
  </wsdl:message>
  <wsdl:message name="SaveRiskSoapIn">
    <wsdl:part name="parameters" element="tns:SaveRisk" />
  </wsdl:message>
  <wsdl:message name="SaveRiskSoapOut">
    <wsdl:part name="parameters" element="tns:SaveRiskResponse" />
  </wsdl:message>
  <wsdl:message name="GetRiskTreeIDSoapIn">
    <wsdl:part name="parameters" element="tns:GetRiskTreeID" />
  </wsdl:message>
  <wsdl:message name="GetRiskTreeIDSoapOut">
    <wsdl:part name="parameters" element="tns:GetRiskTreeIDResponse" />
  </wsdl:message>
  <wsdl:message name="GetElementDataSoapIn">
    <wsdl:part name="parameters" element="tns:GetElementData" />
  </wsdl:message>
  <wsdl:message name="GetElementDataSoapOut">
    <wsdl:part name="parameters" element="tns:GetElementDataResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceRiskSoap">
    <wsdl:operation name="GetRiskTreeString">
      <wsdl:input message="tns:GetRiskTreeStringSoapIn" />
      <wsdl:output message="tns:GetRiskTreeStringSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetDefaultRisk">
      <wsdl:input message="tns:GetDefaultRiskSoapIn" />
      <wsdl:output message="tns:GetDefaultRiskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveRisk">
      <wsdl:input message="tns:SaveRiskSoapIn" />
      <wsdl:output message="tns:SaveRiskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetRiskTreeID">
      <wsdl:input message="tns:GetRiskTreeIDSoapIn" />
      <wsdl:output message="tns:GetRiskTreeIDSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="GetElementData">
      <wsdl:input message="tns:GetElementDataSoapIn" />
      <wsdl:output message="tns:GetElementDataSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceRiskSoap" type="tns:WebServiceRiskSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRiskTreeString">
      <soap:operation soapAction="http://tempuri.org/GetRiskTreeString" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultRisk">
      <soap:operation soapAction="http://tempuri.org/GetDefaultRisk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveRisk">
      <soap:operation soapAction="http://tempuri.org/SaveRisk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRiskTreeID">
      <soap:operation soapAction="http://tempuri.org/GetRiskTreeID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElementData">
      <soap:operation soapAction="http://tempuri.org/GetElementData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceRiskSoap12" type="tns:WebServiceRiskSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetRiskTreeString">
      <soap12:operation soapAction="http://tempuri.org/GetRiskTreeString" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetDefaultRisk">
      <soap12:operation soapAction="http://tempuri.org/GetDefaultRisk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveRisk">
      <soap12:operation soapAction="http://tempuri.org/SaveRisk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetRiskTreeID">
      <soap12:operation soapAction="http://tempuri.org/GetRiskTreeID" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="GetElementData">
      <soap12:operation soapAction="http://tempuri.org/GetElementData" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceRisk">
    <wsdl:port name="WebServiceRiskSoap" binding="tns:WebServiceRiskSoap">
      <soap:address location="http://localhost/EnsureRiskWS/WebServiceRisk.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceRiskSoap12" binding="tns:WebServiceRiskSoap12">
      <soap12:address location="http://localhost/EnsureRiskWS/WebServiceRisk.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>