EnsureRisk/Web References/ServiceClasifications/WebServiceClasificator.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllClasifications">
        <s:complexType />
      </s:element>
      <s:element name="GetAllClasificationsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllClasificationsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllClasificationsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllClasifications" />
  </wsdl:message>
  <wsdl:message name="GetAllClasificationsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllClasificationsResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceClasificatorSoap">
    <wsdl:operation name="GetAllClasifications">
      <wsdl:input message="tns:GetAllClasificationsSoapIn" />
      <wsdl:output message="tns:GetAllClasificationsSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceClasificatorSoap" type="tns:WebServiceClasificatorSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllClasifications">
      <soap:operation soapAction="http://tempuri.org/GetAllClasifications" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceClasificatorSoap12" type="tns:WebServiceClasificatorSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllClasifications">
      <soap12:operation soapAction="http://tempuri.org/GetAllClasifications" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceClasificator">
    <wsdl:port name="WebServiceClasificatorSoap" binding="tns:WebServiceClasificatorSoap">
      <soap:address location="http://localhost/EnsureRiskWS/WebServiceClasificator.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceClasificatorSoap12" binding="tns:WebServiceClasificatorSoap12">
      <soap12:address location="http://localhost/EnsureRiskWS/WebServiceClasificator.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>