EnsureRisk/Web References/ServiceLog/WebServiceMyLog.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllLogs">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="param" type="tns:ArrayOfAnyType" />
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:complexType name="ArrayOfAnyType">
        <s:sequence>
          <s:element minOccurs="0" maxOccurs="unbounded" name="anyType" nillable="true" />
        </s:sequence>
      </s:complexType>
      <s:element name="GetAllLogsResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllLogsResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertLog">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="InsertLogResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="InsertLogResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllLogsSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllLogs" />
  </wsdl:message>
  <wsdl:message name="GetAllLogsSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllLogsResponse" />
  </wsdl:message>
  <wsdl:message name="InsertLogSoapIn">
    <wsdl:part name="parameters" element="tns:InsertLog" />
  </wsdl:message>
  <wsdl:message name="InsertLogSoapOut">
    <wsdl:part name="parameters" element="tns:InsertLogResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceMyLogSoap">
    <wsdl:operation name="GetAllLogs">
      <wsdl:input message="tns:GetAllLogsSoapIn" />
      <wsdl:output message="tns:GetAllLogsSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="InsertLog">
      <wsdl:input message="tns:InsertLogSoapIn" />
      <wsdl:output message="tns:InsertLogSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceMyLogSoap" type="tns:WebServiceMyLogSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllLogs">
      <soap:operation soapAction="http://tempuri.org/GetAllLogs" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertLog">
      <soap:operation soapAction="http://tempuri.org/InsertLog" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceMyLogSoap12" type="tns:WebServiceMyLogSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllLogs">
      <soap12:operation soapAction="http://tempuri.org/GetAllLogs" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="InsertLog">
      <soap12:operation soapAction="http://tempuri.org/InsertLog" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceMyLog">
    <wsdl:port name="WebServiceMyLogSoap" binding="tns:WebServiceMyLogSoap">
      <soap:address location="http://localhost/EnsureRiskWS/WebServiceMyLog.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceMyLogSoap12" binding="tns:WebServiceMyLogSoap12">
      <soap12:address location="http://localhost/EnsureRiskWS/WebServiceMyLog.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>