EnsureRisk/Web References/ServiceTopRiskController/WebServiceTopRisk.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:tm="http://microsoft.com/wsdl/mime/textMatching/" xmlns:mime="http://schemas.xmlsoap.org/wsdl/mime/" xmlns:tns="http://tempuri.org/" xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" xmlns:s="http://www.w3.org/2001/XMLSchema" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <s:schema elementFormDefault="qualified" targetNamespace="http://tempuri.org/">
      <s:element name="GetAllTopRisk">
        <s:complexType />
      </s:element>
      <s:element name="GetAllTopRiskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="GetAllTopRiskResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveTopRisk">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="ds">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
      <s:element name="SaveTopRiskResponse">
        <s:complexType>
          <s:sequence>
            <s:element minOccurs="0" maxOccurs="1" name="SaveTopRiskResult">
              <s:complexType>
                <s:sequence>
                  <s:element ref="s:schema" />
                  <s:any />
                </s:sequence>
              </s:complexType>
            </s:element>
          </s:sequence>
        </s:complexType>
      </s:element>
    </s:schema>
  </wsdl:types>
  <wsdl:message name="GetAllTopRiskSoapIn">
    <wsdl:part name="parameters" element="tns:GetAllTopRisk" />
  </wsdl:message>
  <wsdl:message name="GetAllTopRiskSoapOut">
    <wsdl:part name="parameters" element="tns:GetAllTopRiskResponse" />
  </wsdl:message>
  <wsdl:message name="SaveTopRiskSoapIn">
    <wsdl:part name="parameters" element="tns:SaveTopRisk" />
  </wsdl:message>
  <wsdl:message name="SaveTopRiskSoapOut">
    <wsdl:part name="parameters" element="tns:SaveTopRiskResponse" />
  </wsdl:message>
  <wsdl:portType name="WebServiceTopRiskSoap">
    <wsdl:operation name="GetAllTopRisk">
      <wsdl:input message="tns:GetAllTopRiskSoapIn" />
      <wsdl:output message="tns:GetAllTopRiskSoapOut" />
    </wsdl:operation>
    <wsdl:operation name="SaveTopRisk">
      <wsdl:input message="tns:SaveTopRiskSoapIn" />
      <wsdl:output message="tns:SaveTopRiskSoapOut" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="WebServiceTopRiskSoap" type="tns:WebServiceTopRiskSoap">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllTopRisk">
      <soap:operation soapAction="http://tempuri.org/GetAllTopRisk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTopRisk">
      <soap:operation soapAction="http://tempuri.org/SaveTopRisk" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:binding name="WebServiceTopRiskSoap12" type="tns:WebServiceTopRiskSoap">
    <soap12:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="GetAllTopRisk">
      <soap12:operation soapAction="http://tempuri.org/GetAllTopRisk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="SaveTopRisk">
      <soap12:operation soapAction="http://tempuri.org/SaveTopRisk" style="document" />
      <wsdl:input>
        <soap12:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap12:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="WebServiceTopRisk">
    <wsdl:port name="WebServiceTopRiskSoap" binding="tns:WebServiceTopRiskSoap">
      <soap:address location="http://localhost/EnsureRiskWS/WebServiceTopRisk.asmx" />
    </wsdl:port>
    <wsdl:port name="WebServiceTopRiskSoap12" binding="tns:WebServiceTopRiskSoap12">
      <soap12:address location="http://localhost/EnsureRiskWS/WebServiceTopRisk.asmx" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>